* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FCFCFC;
}

/* Home */

.home-container {
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}
.home-container h2, .home-container h3, .home-container p {
    margin: 1rem 0;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section h1 {
    font-size: 3rem;
    margin: 1rem 0;
}


.home-container ol li {
    width: 100%
}



/* Nav */

a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}

a:hover {
    text-decoration: underline;
}

.navWrapper {
    width: 100%;
    height: 80px;
    background-color: #609966;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.navWrapper a {
    color: #EDF1D6
}

.logo a {
    color: #40513B
}

.navigation a.active_link {
    color: #40513B;
    background-color: #EDF1D6;
    padding: .5rem;
    border-radius: 15px;
}

.navigation a {
    margin: 0px 10px;
}

.navigation a:last-child {
    margin-right: 0;

}

.bonsaiCard img {
    max-width: 700px;
    max-height: 700px;
}

/* About */

.about {
    padding: 1rem;
    text-align: center;
}

.about p {
    color: rgb(113, 107, 107)
}

.about h2 {
    margin-bottom: 1rem;
}

.about-bonsai-image img {
    width: 100%;
    height: auto;
}

.about-me-image img {
    width: 75%;
    height: auto;
}

.bonsai-about,
.me-about {
    display: flex;
    margin: 3rem 0
}

.about-bonsai-text,
.about-me-text {
    width: 60%;
}

.about-bonsai-image,
.about-me-image {
    width: 40%;
}

.me-about {
    display: flex;

}

.about-me-text,
.about-bonsai-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-links {
    display: flex;
    align-items: center;
    justify-content: center;

}

.about-links a {
    padding: 1rem;
    color: #40513B
}

/* Contact Me */

.contact-me {
    padding: 1rem;
}

.contact-me-links a {
    font-size: 3rem;
    margin: 1rem;
    color: #40513B
}

.contact-me h3 {
    margin: 1rem
}

/* FAQ */

.FAQ {
    margin-top: 2rem;
}

.wrapper {
    margin: 1rem;
}

/* Bonsai Form */

.bonsai-form, .editMenu form {
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.bonsai-form input, .editMenu input {
    width: 100%;
    margin: .5rem 0;
    padding: .5rem;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
    outline: none;
}

.bonsai-form form {
    width: 30%
}

.bonsai-form h2 {
    margin: 2rem;
}

.bonsai-form button, .editMenu .edit-submit {
    margin-top: 1.5rem;
    background: #609966;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
    cursor:pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.bonsai-form button:hover, .editMenu .edit-submit:hover {
    background: #40513B;
    text-decoration: none;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

/* Bonsai Collection */

.bonsai-container {
    padding: 1rem;
}

.bonsai-container h2 {
    text-align: center;
    margin: 2rem 0;
}

.bonsai-icon {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;

    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.bonsai-icon img {
    width: 50px;
    height: 50px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2rem 0
}

li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin: 0 .5rem
}

li h5 {
    margin-top: 1rem;
    font-weight: lighter;
}

ul.bonsai-list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* Bonsai Details */

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bonsaiCard h5 {
    color: #40513B;
    margin: 1rem 0;
}

.details-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
}

.details-image img {
    max-width: 700px;
    max-height: auto;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.editMenu img {
    max-width: 700px;
    max-height: auto;
    border-radius: 15px;
}
.button-wrapper {
    margin-bottom: 1.rem;
}
.button-wrapper button {
    margin: 1rem;
    width: 100px;
}
.button-wrapper .edit-button {
    margin-top: 1.5rem;
    background: orange;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 1rem;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.button-wrapper .delete-button {
    margin-top: 1.5rem;
    background: red;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 1rem;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.button-wrapper .delete-button a {
    text-decoration: none;
    color: white;
}
.button-wrapper .edit-button:hover {
    background: rgb(159, 103, 0);
    text-decoration: none;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
.button-wrapper .delete-button:hover {
    background: rgb(140, 0, 0);
    text-decoration: none;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
.about-info h3, .about-info p {
    margin:1rem 0;
}
/* Edit Menu*/

.editMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

.editMenu:first-child {
    align-items: start;
  
}
.editMenu h5{
    padding: 1rem 0;
}
.editMenu .collapse {
    background-color: white;
    border: none;
    color: #40513B;
    font-size: 1rem;
    text-transform: uppercase;
    cursor:pointer;
    font-weight: light;
}
.editMenu .collapse:hover{
    text-decoration: underline;
}
.editMenu form {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .hero-section img {
        max-width: 300px;
    }
    .hero-section h1 {
        font-size: 2rem;
        margin: 1rem 0;
    }
    .home-container img {
        max-width: 450px;
    }
    .home-container {
        padding: 2rem;
    }
}

@media only screen and (max-width: 425px) {
    .hero-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .hero-section h1 {
        font-size: 2rem;
        margin: 1.5rem;
    }
    .hero-section img {
        max-width: 300px;
    }
    .home-container img {
        max-width: 350px;
    }
    ul.bonsai-list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .bonsai-container .bonsai-icon, .bonsai-container .bonsai-icon img, .about .me-about img, .about .bonsai-about img {
        width: 200px;
        height: 200px;
    }
    .bonsai-container li h5 {
        font-size: 1rem;
    }
    .bonsai-container li {
        margin-bottom: 1.5rem;
    
    }
    .about .me-about, .about .bonsai-about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .bonsai-form form {
        width: 100%
    }
    .editMenu img, .bonsaiCard img {
        max-width: 300px;
    }

}

.burger {
    display: none; /* Hide the burger icon by default */
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #EDF1D6;
    margin: 4px 0;
    transition: 0.4s;
}

/* Rotate the bars and change position when menu is open */
.burger.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 6px);
}

.burger.open .bar:nth-child(2) {
    opacity: 0; /* Hide the middle bar */
}

.burger.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -6px);
}

@media only screen and (max-width: 768px) {
    .burger {
        display: block; /* Display the burger icon */
    }

    /* Show the navigation menu when the burger icon is clicked */
    .navigation.show {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 0;
        width: 100%;
        background-color: #609966;
        padding: 1rem;
        transition: transform 0.4s ease-in-out;
        transform: translateY(-100%);
        flex-wrap: wrap;
        align-content: flex-start;
    }
    
    /* Move the menu into view by resetting the transform */
    .navigation.show.show {
        transform: translateY(0);
    }
    
    /* Hide the menu when it's not shown */
    .navigation:not(.show) {
        display: none;
    }

    /* Hide the regular navigation links for mobile */
    .navigation:not(.show) {
        display: none;
    }
}